{% extends "layout.html" %} {% block title %} Home {% endblock title %} {% block header %} Welcome To Game Price Tracker {% endblock header %} {% block body %}

<center>
<form action="{{url_for('track')}}" method="POST">

    <div class="form-group">
        <input class="form-control" type="text" name="name" placeholder="Your Name">
    </div>

    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Your Email">
    </div>
    <div class="form-group">
        <input class="form-control" type="url" name="item" placeholder="Items URL">
    </div>

    
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Track Here</button>
    </div>



</form>
</center>



{% endblock body %}