{% extends "layout.html" %}
{% block title  %}
The Price Is Succesfully Traceked

{% endblock title  %}
{% block body %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img id="img01" style="max-height:400px;max-width:95%;" 
        src="https://images-na.ssl-images-amazon.com/images/I/71CdpQDC0VL._AC_SX679_.jpg"
         alt="Transparent shocked emoji png - Confused Emoji - Disappointed Emoji "
          title="Confused Emoji - Disappointed Emoji"
        />  
        <h3>Dear, {{name}}</h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for tracking your price with us.<br>We will sent you an email here {{email}} with item details

    <br><br>
        </div>
        
	</div>
</div>

{% endblock body %}