{% extends "layout.html" %}
{% block title  %}
{{title}}

{% endblock title  %}
{% block body %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">{{heading}}</h2>
        <img id="img01" 
            style="max-height:500px;max-width:93%;" 
            src="https://lh3.googleusercontent.com/r5Kek5-jMimjMXmZvZN18JDb68wSy7N2hjL4Mavb5NFjHABhrfuEBLJoJeYVGZZyahnEZhnRp1PIZrEPtcw-HZLkP4QzZNtHpiTyyLnfYudHRg-FZd1LJBGuCBMHtjhL8vB6_nhTf5vUe7W4FZu1in8N6pGzFqaRGFSMUdWkrRqK9_h3qNT3CpxybhzltNW07x4DbDnjk9Lw5ZZwOzVVWQkEufPKEob7f7IsmXGjuo4N_7VlnOJYV1ZMp4urkx201lPASwzlYX1DginCqn8ATP6FP_Y8eMHhFj72AJ2upL9i9pYq7PQJNJsVQ8IfS4usk6qK0zRvwRCWaKaL9yRetUIq1-3I7wi_nxwuafqhLR5HXLAJaIx5a_JCjMOTf88kXslFV7_HONwV2lTPeOprn914wlw_TPrM4KETR7_rL5aqbkjmiel6QqgMICDg8QdqqN455rY6uvgMV9DBOCST4OMEW96qo_plsCKABoTWI5nVrGa3s9nK5UvIHp6rmxoRtyaqEGHTBdNJujhK11U44lISueJ0JhY2SrLZ-9ur9XMAWxNex_pjhonYPHHt-FubsAmgiT91SvQhttAYTvvFAeClfubCdUvC1uGeZSJFbYkeWxDI_kyyph02wOx6IUIzLf4kRCMJO8hwb52C5GiMyMKN-IWdBALwJT_hmWFtl0ntZwL9o8UtUlg=w413-h218-no" 
            alt="Wrong Link" 
            title="The link page must be similar to this"/>        
         <h3>{{sorry}}</h3>
        <p style="font-size:20px;color:#5C5C5C;">{{mesaage}}</p>

    <br><br>
        </div>
        
	</div>
</div>

{% endblock body %}