{% extends "layout.html" %}
{% block title  %}
{{title}}

{% endblock title  %}
{% block body %}
<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">{{heading}}</h2>
        <img id="img01" 
            style="max-height:400px;max-width:95%;" 
            src="https://photos.google.com/search/_tra_/photo/AF1QipOXEmdL1K991WPagHJ64ewdJmuIZ64KIr_LUlDE" 
            alt="Wrong Link" 
            title="The link page must be similar to this"/>        
         <h3>{{sorry}}</h3>
        <p style="font-size:20px;color:#5C5C5C;">{{mesaage}}</p>

    <br><br>
        </div>
        
	</div>
</div>

{% endblock body %}