* {}

header {
    color: #ec008c;
    font-family: 'Modak', cursive;
    font-size: 42px;
    text-align: center;
}

.form-group {
    width: 50%;
    align-items: center;
    background-color: #d2e7d2;
}